MarkupSafe
PyYAML
annotated-types
anyio
certifi
charset-normalizer
click
colorama
dnspython
docker
email-validator
exceptiongroup
fastapi
fastapi-cli
h11
httpcore
httptools
httpx
idna
jinja2
markdown-it-py
mdurl
pip
pydantic
pydantic-core
pygments
python-dotenv
python-multipart
pywin32
requests
rich
setuptools
shellingham
sniffio
starlette
typer
typing-extensions
urllib3
uvicorn
watchfiles
websockets
